# Entorno virtual
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django / ejecución local
staticfiles/
*.log

# Sistema operativo / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Archivos temporales
*.tmp
*.bak
~$*
